body{
    font-family: "Noto Sans TC", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.h1{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
.h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}
.h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}
.h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.h6{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.title-1{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.title-2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.subtitle{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.fs-body-1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.fs-body-2{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.caption-1{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.caption-2{
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
}