<!-- banner -->
<section>
  <div class="position-relative course-img-filter course-banner">
    <img
      src="../assets/images/explore-courses/course-9.jpg"
      alt="美國人眼裡的中式料理，要有幸運餅乾才是中菜的完美句點 - 課程圖片"
      class="w-100 h-100 object-fit-cover"
    />
    <div
      class="card-tag-secondary subtitle position-absolute top-0 start-0 mt-3 ms-3"
    >
      B2
    </div>
    <div
      class="d-flex justify-content-between position-absolute bottom-0 start-0 end-0 mb-3 mx-3"
    >
      <div class="title-2 text-white">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="align-bottom"
        >
          <use
            href="../assets/images/icon/social-map-pin-symbol.svg#ic-map-pin"
          ></use></svg
        >San Francisco
      </div>
    </div>
  </div>
  <div class="px-3 pt-3 pb-2 mb-4 d-flex flex-column">
    <!-- tags -->
    <div class="d-flex gap-3 mb-2">
      <button
        type="button"
        class="btn rounded-1 fs-body-2 px-2 py-1 btn-card-theme-tag btn btn-outline-primary"
      >
        當地生活</button
      ><button
        type="button"
        class="btn rounded-1 fs-body-2 px-2 py-1 btn-card-theme-tag btn btn-outline-primary"
      >
        私房景點</button
      ><button
        type="button"
        class="btn rounded-1 fs-body-2 px-2 py-1 btn-card-theme-tag btn btn-outline-primary"
      >
        美食饗宴
      </button>
    </div>
    <h3 class="h4 mb-2">美國人眼裡的中式料理 要有幸運餅乾才是中菜的完美句點</h3>
  </div>
  <div class="container">
    <div class="d-flex gap-2 mb-2 mt-auto">
      <!-- 教師資訊 -->
      <!-- Avatar -->
      <div class="position-relative">
        <img
          src="../assets/images/explore-courses/avatar-6.png"
          alt="Emma Corrin"
          class="rounded-circle avatar-80"
        /><img
          src="../assets/images/icon/flag-uk.png"
          class="position-absolute bottom-0 start-0 rounded-circle icon-24"
          alt="UK"
        />
        <div class="online-dot online-dot-lg"></div>
      </div>
      <!-- 教師名稱 -->
      <div>
        <div class="d-flex align-items-center mb-2">
          <h3 class="title-1 me-1 h5">Emma Corrin</h3>
          <img
            src="../assets/images/icon/social-check-fill-blue500.svg"
            alt="check icon"
            class="icon-size-3"
          />
        </div>
        <!-- 語言能力 -->
        <div class="mb-2">
          <div class="card-tag-secondary subtitle d-inline-block me-3">B2</div>
          <span class="text-gray-600 me-3"
            ><img
              src="../assets/images/icon/course-check-circle-blue-900.svg"
              alt="關於教師"
              class="me-1 icon-size-4"
            />母語者</span
          >
          <span class="text-gray-600"
            ><img
              src="../assets/images/icon/course-user-sound-blue-900.svg"
              alt="關於教師"
              class="me-1"
            />會講中文</span
          >
        </div>
        <p class="text-emphasis-400 caption-1 fw-semibold">可即時預約</p>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <img
          src="../assets/images/icon/course-star-blue.svg"
          alt="star icon"
          class="align-bottom icon-size-4"
        /><span class="fs-body-2 text-gray-500 align-bottom"
          >5.0(1733則評論)</span
        >
      </div>
      <div>
        <img
          src="../assets/images/icon/personal-user-blue.svg"
          alt="people icon"
          class="icon-size-4 align-bottom"
        /><span class="fs-body-2 text-gray-500 align-bottom">1836人學習</span>
      </div>
    </div>
    <p>
      <span class="text-gray-300 h6 me-1">NY$<del>690</del></span
      ><span class="h4 text-emphasis">NT$<span>380</span></span>
    </p>
  </div>
</section>
