<section class="container px-0 ps-4 py-2 d-none">
  <div class="swiper course-theme-swiper pe-4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4 active">
          <!-- 引用外部 svg icon -->
          <svg
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-globe"
            /></svg
          ><span>全部</span></a
        >
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <!-- 引用外部 svg icon -->
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-cheers"
            /></svg
          ><span>飲食</span></a
        >
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-bus"
            /></svg
          ><span>交通</span></a
        >
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-shopping"
            /></svg
          ><span>購物</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-pin"
            /></svg
          ><span>文化</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-bed"
            /></svg
          ><span>住宿</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-windmill"
            /></svg
          ><span>景點</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-compass"
            /></svg
          ><span>問路</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-syringe"
            /></svg
          ><span>醫療</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-aid-kit"
            /></svg
          ><span>緊急</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-airplane"
            /></svg
          ><span>機場</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-money"
            /></svg
          ><span>兌幣</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-mountain"
            /></svg
          ><span>戶外</span>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="btn btn-gray-100 btn-tag w-100 py-2 px-4"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="align-bottom me-1"
          >
            <use
              href="../assets/images/icon/course-theme-filter-icons.svg#ic-film"
            /></svg
          ><span>影劇</span>
        </a>
      </div>
    </div>
  </div>
</section>
