<!-- 課表 -->
<div class="card border-0 bg-gray-100 px-3 py-4 gap-4 debug">
  <h3 class="h5 d-flex align-items-center">
    課表<span class="caption-1 text-gray-500 ms-3">台灣時區(UCT+8)</span>
  </h3>
  <img src="../assets/images/course-page-intro/calendar.png" alt="課表" />
  <div
    class="d-flex column-gap-5 row-gap-3 caption-1 text-gray-700 px-4 flex-wrap"
  >
    <p>每堂課皆為30分鐘</p>
    <div class="d-flex align-items-center gap-1">
      <span class="timetable-icon timetable-icon__available"></span>
      <span>= 尚可預約</span>
    </div>
    <div class="d-flex align-items-center gap-1">
      <span class="timetable-icon timetable-icon__unavailable"></span>
      <span>= 預約額滿</span>
    </div>
  </div>
</div>
