<section class="container">
  <div class="d-flex justify-content-between gap-4 mb-3">
    <button
      type="button"
      class="btn btn-gray-100 text-gray-500 flex-grow-1 text-start ps-4 pe-2 py-2"
      data-bs-toggle="modal"
      data-bs-target="#exploreCourseSearch"
    >
      <img
        src="../assets/images/icon/function-search.svg"
        alt="courses search icon"
        class="align-bottom me-1"
      />搜尋你最愛的城市，找旅遊主題課
    </button>

    <button
      type="button"
      class="btn px-0 py-1"
      data-bs-toggle="modal"
      data-bs-target="#exploreCourseFilter"
    >
      <img
        src="../assets/images/icon/course-sliders-horizontal.svg"
        alt="filter icon"
      />
    </button>
  </div>
</section>
