<ul class="list-unstyled mb-0 nav-list">
    <li>
        <a href="#" class="position-relative">
            <img
            src="../assets/images/icon/navbar-bell.svg"
            alt="Bell"
            style="width: 24px; height: 24px"
            />
            <div class="news"></div>
        </a>
    </li>
    <li>
        <a href="#" class="position-relative">
        <img
            src="../assets/images/icon/navbar-chat-circle-dots.svg"
            alt="Chat"
            style="width: 24px; height: 24px"
        />
        <div class="news"></div>
        </a>
    </li>
    <li>
        <a href="#">
        <img
            src="../assets/images/icon/personal-list-bullets.svg"
            alt="Chat"
            style="width: 24px; height: 24px"
        />
        </a>
    </li>
</ul>