.btn-primary {
  --bs-btn-color: #{$white};
  --bs-btn-hover-color: #{$white};
  --bs-btn-active-color: #{$white};
}

// 白底按鈕
.btn.btn-white {
  background-color: $white;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-100;
  }
}

// 純文字 btn
.btn.btn-text {
  border-radius: 0px;
  --bs-btn-color: #{$gray-600};
  --bs-btn-hover-color: #{$gray-950};
  --bs-btn-active-color: #{$gray-950};
  --bs-btn-border-width: 0;
}

.btn.btn-theme-tag {
  fill: $gray-950; // svg
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    fill 0.15s ease-in-out;

  &:hover,
  &:active,
  &.active,
  &:focus {
    background-color: $primary-500;
    color: $white;
    font-weight: 600;
    fill: $white;
  }
}

.btn.btn-card-theme-tag {
  --bs-btn-hover-color: #{$primary-600};
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #{$primary-600};
  --bs-btn-active-color: #{$primary-600};
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #{$primary-600};
}

// 預約課程 btn
.button{
  width: 100%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
}

.time-btn{
  background-color: $gray-100;
  color: $gray-500;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  &:hover{
      background-color: $gray-200;
  }
}
.start-btn{
  background-color: $primary;
  color: $white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  &:hover{
      background-color: $primary-200;
      color: $primary-700;
  }
}

.post-icon{
  padding: 0;
  border: 0;
}
