.btn-primary {
  --bs-btn-border-width: 0;
  --bs-btn-color: #{$white};
  --bs-btn-hover-color: #{$white};
  --bs-btn-hover-bg: #{$primary-600};
  --bs-btn-active-color: #{$white};
  --bs-btn-active-bg: #{$primary-600};
}

.btn.btn-light {
  --bs-btn-border-width: 0;
  --bs-btn-color: #{$gray-950};
  --bs-btn-hover-color: #{$gray-950};
  --bs-btn-hover-bg: #{$gray-200};
  --bs-btn-active-bg: #{$gray-200};
}

.btn.btn-gray-200 {
  --bs-btn-border-width: 0;
  --bs-btn-color: #{$white};
  --bs-btn-hover-color: #{$white};
  --bs-btn-hover-bg: #{$gray-300};
  --bs-btn-active-color: #{$white};
  --bs-btn-active-bg: #{$gray-300};
}

// 白底按鈕
.btn.btn-white {
  background-color: $white;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $primary-100;
  }
}

// 純文字 btn
.btn.btn-text {
  border-radius: 0px;
  --bs-btn-border-width: 0;
  --bs-btn-color: #{$gray-600};
  --bs-btn-hover-color: #{$gray-950};
  --bs-btn-active-color: #{$gray-950};
}

.btn.btn-theme-tag {
  fill: $gray-950; // svg
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    fill 0.15s ease-in-out;

  &:hover,
  &:active,
  &.active,
  &:focus {
    background-color: $primary-500;
    color: $white;
    font-weight: 600;
    fill: $white;
  }
}

.btn.btn-card-theme-tag {
  --bs-btn-hover-color: #{$primary-500};
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #{$primary-500};
  --bs-btn-active-color: #{$primary-500};
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: #{$primary-500};
}

.btn.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// 預約課程 btn
.button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $gray-100;
}

.time-btn,
.time-btn:hover {
  background-color: $gray-100;
  color: $gray-500;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

// .cancel-btn,
// .cancel-btn:hover {
//   background-color: $gray-200;
//   color: $white;
//   font-size: 18px;
//   line-height: 24px;
//   font-weight: 600;
// }
