// 上線紅點點
.online-dot {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: $emphasis-500;
  border: 1px solid $white;
  border-radius: 50%;
}

.online-dot-lg {
  width: 14px;
  height: 14px;
  border: 2px solid $white;
  bottom: 4px;
  right: 4px;
}
