main.intro-page {
  height: calc(100dvh - 51px - 67px);
  overflow-y: auto;
}

// 圖片 aspect-ratio
.course-banner {
  aspect-ratio: 375 / 236;
}

.course-intro-img {
  aspect-ratio: 320 / 180;
}

.course-intro-card__img {
  aspect-ratio: 287 / 180;
}

// collapse - up down arrow btn
// 展開簡介
.label-arrow-up-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &::before {
    content: "展開全部";
    display: inline;
    color: $gray-500;
  }

  img {
    width: 14px;
    height: 14px;
    transition-property: transform;
    transition-duration: 300ms;
  }
}

input:checked ~ .label-arrow-up-down {
  &::before {
    content: "收合簡介";
  }

  img {
    transform: rotate(-180deg);
  }
}

// 展開評論
.label-comment-text {
  &::before {
    content: "顯示所有評論";
  }
}

input:checked ~ .label-comment-text {
  &::before {
    content: "收合所有評論";
  }
}

// 常見問題 - 手風琴樣式
.course-faq-accordion {
  --#{$prefix}accordion-border-color: #{$gray-100};

  --#{$prefix}accordion-btn-padding-x: 1rem;
  --#{$prefix}accordion-btn-padding-y: 0.75rem;
  --#{$prefix}accordion-btn-color: #{$accordion-button-color};
  --#{$prefix}accordion-btn-bg: #{$accordion-button-bg};

  --#{$prefix}accordion-body-padding-x: 2rem;
  --#{$prefix}accordion-body-padding-y: 1rem;

  --#{$prefix}accordion-active-color: #{$gray-950};
  --#{$prefix}accordion-active-bg: #{$white};
}
