main.explore-page {
  height: calc(100dvh - 43px - 69px);
  overflow-y: auto;
}

// ==================================
// 探索課程 - search & filter modal
// ==================================

// filter & search modal 出現動畫
.modal.fade .modal-dialog {
  transform: translate(100%, 0);
}

.modal.show .modal-dialog {
  transform: none;
}

// modal body 撐滿版
.modal-body-full-height {
  height: calc(100dvh - 51px - 71px);
}

// 手風琴自定義樣式
.explore-search-accordion .accordion-button:not(.collapsed) {
  background-color: $white;
  box-shadow: none;
  color: $primary-950;
}

.class-time.accordion-button::after {
  margin-left: 8px;
}

// ====================
// 探索課程 - swiper 卡片
// ====================

// 卡片英文程度 tag
.card-tag-secondary {
  width: 48px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: $primary-950;
  background-color: $secondary-400;
}

.course-card-img {
  aspect-ratio: 269 / 188;
}
