main.course-intro-page {
  height: calc(100dvh - 43px - 67px);
  overflow-y: auto;
}
// 圖片 aspect-ratio
.course-banner {
  aspect-ratio: 375 / 236;
}

.course-intro-img {
  aspect-ratio: 320 / 180;
}

.course-intro-card__img {
  aspect-ratio: 287 / 180;
}

// icon sizes
.icon-10 {
  width: 10px;
  height: 10px;
}

.icon-15 {
  width: 15px;
  height: 15px;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.avatar-56 {
  width: 56px;
  height: 56px;
}

.avatar-80 {
  width: 80px;
  height: 80px;
}

.timetable-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 0.25rem;

  &__available {
    border: 1px solid $white;
    background-color: $primary-100;
  }

  &__unavailable {
    background-color: $primary-700;
  }
}

// list style
.list-style-small-dot {
  li::marker {
    content: "· ";
  }
}

// 展開卡片 btn
.label-arrow-up-down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  &::before {
    content: "展開全部";
    display: inline;
    color: $gray-500;
  }

  img {
    width: 14px;
    height: 14px;
    transition-property: transform;
    transition-duration: 300ms;
  }
}

input:checked ~ .label-arrow-up-down {
  &::before {
    content: "收合簡介";
  }

  img {
    transform: rotate(-180deg);
  }
}

// 展開評論卡片 btn
.label-comment-text {
  &::before {
    content: "顯示所有評論";
  }
}

input:checked ~ .label-comment-text {
  &::before {
    content: "收合所有評論";
  }
}

// 常見問題 - 手風琴樣式
.course-faq-accordion {
  --#{$prefix}accordion-border-color: #{$gray-100};

  --#{$prefix}accordion-btn-padding-x: 1rem;
  --#{$prefix}accordion-btn-padding-y: 0.75rem;
  --#{$prefix}accordion-btn-color: #{$accordion-button-color};
  --#{$prefix}accordion-btn-bg: #{$accordion-button-bg};

  --#{$prefix}accordion-body-padding-x: 2rem;
  --#{$prefix}accordion-body-padding-y: 1rem;

  --#{$prefix}accordion-active-color: #{$gray-950};
  --#{$prefix}accordion-active-bg: #{$white};
}
