.achievement-page {
  height: calc(100dvh - 88px - 43px);
  overflow-y: auto;
}

.nav-list{
  width: 112px;
  display: flex;
  justify-content: space-between;
  .nav-item img{
    position: relative;
  }
}


.news{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $emphasis;
  border: 1px solid #fff;
  border-radius: 100%;
  top: 1px;
  right: 0px;
}

.btn-close{
  width: 8px;
  height: 8px;
}


.achievement{
  flex: 1;
  text-align: center;
  h5{
    color: $primary-950;
  }
}
.achievement + .achievement{
  border-left: 1px solid $gray-100;
}
.location-img{
  width: 72px;
  text-align: center;
}

.hashtag{
  display: block;
  border: 1px solid $primary;
  color: $primary;
  padding: 4px 8px;
  margin-right: 12px;
  border-radius: 4px;
  &:hover{
    background-color: $primary;
    color: $white;
    flex-direction: column;
  }
}
.talkbubble{
  position: absolute;
  top: 40px;
  left:65px
}
