main.partner-page{
    height: calc(100dvh - 88px - 43px);
    overflow-y: auto;
}

.search-bar input{
    background-image: url('/assets/images/icon/function-search.svg'); 
    background-position: 16px center;
    background-repeat: no-repeat;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px; /* 給圖標留出空間 */
    border-radius: 8px;
}
.partner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $gray-100;
}

.partner-talkbubble{
    position: absolute;
    top: 29px;
    left:42px
    
}


.plus-btn{
    background-image: url('/assets/images/icon/social-user-plus.svg'); 
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 52px;
    height: 36px;
    background-color: $gray-100;
    border-radius: 8px;
    &:hover{
        background-color: $primary-100;
    }
}
.checkbtn:checked ~ .plus-btn{
    background-image: url('/assets/images/icon/social-user-check.svg'); 
    background-color: $primary;
}

.check-btn{
    background-image: url('/assets/images/icon/social-user-check.svg'); 
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 52px;
    height: 36px;
    background-color: $primary;
    border-radius: 8px;
    &:hover{
        background-color: $primary-100;
    }
    &:focus{
        background-image: url('/assets/images/icon/social-user-plus.svg'); 
        background-color: $gray-100;
    }
}




